.navHeader {
  background-color: #ef9a9a;
  color: black;

  li {
    font-size:1.5rem;
    color:white;
    text-align:center;
    width: 8rem;
    line-height: 2;
    border-right:0.15rem solid white;
    cursor:pointer;
    position:relative;

    &.active:before {
      //background-color: lightcoral;
      content:"";
      position:absolute;
      left:45%;
      top: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid cornflowerblue;

    }
  }
}